<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Twitface</display-name>
  <servlet>
    <servlet-name>ControleurGeneral</servlet-name>
    <servlet-class>com.dinfogarneau.cours526.twitface.controleurs.ControleurGeneral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurGeneral</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControleurMembre</servlet-name>
    <servlet-class>com.dinfogarneau.cours526.twitface.controleurs.ControleurMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurMembre</servlet-name>
    <url-pattern>/membre/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/WEB-INF/vues/erreurs/erreur-401.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/vues/erreurs/erreur-404.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/WEB-INF/vues/erreurs/erreur-405.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/vues/erreurs/erreur-exception.jsp</location>
  </error-page>
  <jsp-config>
    <jsp-property-group>
      <display-name>ScriptJSPNonPermis</display-name>
      <url-pattern>*.jsp</url-pattern>
      <scripting-invalid>true</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <resource-ref>
    <res-ref-name>jdbc/sakila</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>